@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Bits and Bites is a unique lifestyle network, website and magazine that connects viewers to the power and joy of food. The website strives to be viewers' best friend 
    in food and is committed to leading by teaching, inspiring, empowering and entertaining through its talent and expertise. Bits and Bites website draws over 46 million unique web users monthly. Bits and Bites is owned by Discovery, Inc., a global leader in real life 
    entertainment whose portfolio also includes Discovery Channel, HGTV, TLC, Investigation Discovery, and OWN: Oprah Winfrey Network .</p>
