@{
    ViewBag.Title = "About";
}

<div class="breadcumb-area" style="background-image: url(../../Content/img/bg-img/breadcumb.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-title text-center">
                    <h2>About Bits and Bites</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<center>
    Bits and Bites is a unique lifestyle network, website and magazine that connects viewers to the power and joy of food. The website strives to be viewers' best friend
    in food and is committed to leading by teaching, inspiring, empowering and entertaining through its talent and expertise. Bits and Bites website draws over 46 million unique web users monthly. Bits and Bites is owned by Discovery, Inc., a global leader in real life
    entertainment whose portfolio also includes Discovery Channel, HGTV, TLC, Investigation Discovery, and OWN: Oprah Winfrey Network.
</center>
